.linksets-metabox .dashicons,
.linksets-metabox .dashicons-before:before {
  font-size: 1.25em;
  line-height: normal;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0;
  margin-top: -0.25em;
  padding: 0;
}
#wpPostAttachments-buttons {
  background: #eee;
  padding: 10px;
}
.linksets-initial {
  padding: 8px 12px;
}
.linkset-menubar {
  background: #f7f7f7;
  border-top: 1px solid #dedede;
}
.linkset-menubar:before,
.linkset-menubar:after {
  content: ' ';
  display: table;
}
.linkset-menubar:after {
  clear: both;
}
.linkset-menubar-label {
  width: 170px;
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.linkset-menubar-btn {
  text-align: center;
  border: none;
  background: none;
  padding: 10px;
  margin: 0;
  width: 100px;
  float: left;
  display: block;
  font-size: 11px;
  height: 80px;
  cursor: pointer;
  color: #555;
}
.linkset-menubar-btn + .linkset-menubar-btn {
  border-left: 1px solid #ccc;
}
.linkset-menubar-btn:hover {
  background: #1e8cbe;
  color: #fff;
}
.linkset-menubar-btn .dashicons {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 6px;
  width: auto;
}
.linkset-item {
  position: relative;
  padding: 10px 32px 10px 10px;
  margin: 0;
  background: #fff;
}
.linkset-item + .linkset-item {
  border-top: 1px solid #eee;
}
.linkset-item.ui-sortable-helper {
  border-top: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.linkset-item.ui-sortable-helper:first-child + .ui-sortable-placeholder {
  border-top: none;
}
.linkset-item.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f6f6f6;
}
.linkset-item:before,
.linkset-item:after {
  content: ' ';
  display: table;
}
.linkset-item:after {
  clear: both;
}
.linkset-item-thumb {
  width: 150px;
  height: 150px;
  float: left;
  background: #eeeeee url(../img/thumb.png) no-repeat 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.linkset-item-thumb img {
  display: block;
  transform: translate(-50%, -50%);
}
.linkset-item-thumb.landscape img {
  height: 100%;
}
.linkset-item-thumb.portrait img {
  width: 100%;
}
.thumb-inner {
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}
.linkset-item-type {
  margin: 0 0 4px;
  color: #888;
  font-style: italic;
}
.linkset-item-data {
  padding-left: 160px;
}
.linkset-item-data input[type="text"],
.linkset-item-data textarea {
  display: block;
  width: 100%;
  padding: 6px;
  margin: 0 0 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
}
.linkset-item-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 40px;
  cursor: pointer;
  color: #aaa;
  text-align: center;
  font-size: 15px;
  border: none;
  background: 0;
  margin: 0;
  padding: 0;
}
.linkset-item-delete:hover {
  color: #777;
}
.linkset-item-delete .dashicons-no {
  display: block;
}
.linkset-item-deleted {
  background: #feeeee;
}
.linkset-item-deleted p {
  margin: 0;
}
.postbox#post_attachments .inside {
  padding: 0;
  margin: 0;
}
.linkset-list {
  margin: 0;
  padding: 0;
}
.linkset-empty {
  display: none;
  text-align: center;
}
.no-items .linkset-empty {
  display: block;
}
.linkset-item-thumb-actions {
  position: absolute;
  bottom: -59px;
  left: 0;
  width: 100%;
  color: #fff;
  background: #222;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  transition: all 250ms;
  box-shadow: 0 1px 0 #fff inset;
}
.linkset-item-thumb:hover .linkset-item-thumb-actions {
  opacity: 1;
  bottom: 0;
}
.linkset-item-thumb-action {
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  padding: 8px 0 8px;
  text-decoration: none;
  color: #21759b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.has-thumb .linkset-item-thumb-action,
.has-thumb-restore .linkset-item-thumb-action {
  width: 50%;
}
.linkset-item-thumb-action:hover,
.linkset-item-thumb-action:focus {
  color: #298cba;
  color: #d54e21;
  box-shadow: none;
  outline: none;
}
.linkset-item-thumb-action .dashicons {
  display: block;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
.linkset-item-thumb-action-delete,
.linkset-item-thumb-action-restore {
  display: none;
}
.linkset-item.has-thumb .linkset-item-thumb-action-delete,
.linkset-item.has-thumb-restore .linkset-item-thumb-action-restore {
  display: block;
}
.linkset-item-file-info {
  margin-bottom: 10px;
}
.linkset-item-post-info {
  margin-bottom: 10px;
}
